html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.robot-body {
  display: block;
  margin: 0;
  position: relative;
  width: 320px;
}

.robot-brain {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-100%);
}

.robot-head-right {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(0%);
}

.robot:hover .robot-head-left {
  transform: translate(-120%, -15%);
}

.robot:hover .robot-head-right {
  transform: translate(20%, -15%);
}

.robot:hover .robot-brain {
  transform: translate(-50%, -15%);
}
